pytorch3d
__pycache__
networks/pts_encoder/pointnet2_utils/pointnet2/build
networks/pts_encoder/pointnet2_utils/pointnet2/dist
networks/pts_encoder/pointnet2_utils/pointnet2/pointnet2.egg-info
configs/obj_meta.json
configs/real_obj_meta.json
results/*
common
*.DS_Store